@import "../../styles/base.scss";

.signup {
  .send-button {
    max-width: 40%;
  }
}

.signup-modal {
  position: absolute;
  display: flex;
  background-color: $white;
  height: 80%;
  border-radius: 1%;
  padding: 0.5rem 2.0rem 1.0rem 2.0rem;
  overflow-y: scroll;

  .close-button {
    cursor: pointer;
    padding: 1rem 3rem 3rem 1rem;
  }
}

.privacy-content {
  overflow-y: scroll;
}

.MuiModal-root-52 {
  display: flex;
  justify-content: center;
  align-items: center;
}
