$blue: blue;
$black: black;
$white: white;
$gray: gray;
$primary-dark: rgb(43, 45, 66);
$primary: rgb(141, 153, 174);
$primary-light: rgb(236, 241, 243);
$accent: rgb(239, 35, 60);
$secondary: rgb(216, 0, 50);