@import './typography.scss';

body, html, #root {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: $x-large;
}

h2, h3 {
  font-size: $large;
}

p, span, strong {
  font-family: 'Roboto', sans-serif;
  font-size: $small;
}