@import "./reset.scss";
@import "./base.scss";

body,
html,
#root {
  height: 100%;
  background-color: $primary-light !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  color: $primary-dark;
}

h1 {
  font-size: $x-large;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $medium;
}

p,
span,
strong {
  font-family: "Roboto", sans-serif;
  font-size: $medium;
  color: $primary-dark;
}

.secondary-button-clear {
  border: 1px solid lighten($accent, 10%) !important;
  color: $primary !important;

  span {
    color: $primary-light;
  }

  &:hover {
    background-color: darken($primary, 5%) !important;
    span {
      color: $accent;
    }
  }
}

.secondary-button {
  background-color: lighten($accent, 10%) !important;
  color: $white !important;

  &:hover {
    background-color: darken($accent, 5%) !important;
  }

  span {
    color: $primary-light;
  }
}

.main-button {
  background-color: $accent !important;

  span {
    color: $primary-light;
  }

  &:hover {
    background-color: darken($accent, 10%) !important;
  }
}
