@import "../../../../styles/base.scss";

.category {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    opacity: 0.8;
  }

  > .image {
    max-width: 200px;
    align-self: center;
    border-radius: 30%;
    border: 1px solid $primary-dark;
  }

  > .label  {
    text-align: center;
    position: absolute;
    color: $white;
    font-weight: 700;
    font-size: 25px;
    padding: 6px;
    max-width: 60%;

    @include media-breakpoint-down(xs) {
      max-width: 50%;
    }

    &::before,
    &::after {
      border: 3px solid transparent;
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }
  
    &::before {
      top: 0;
      left: 0;
    }
  
    &::after {
      bottom: 0;
      right: 0;
    }
  }
}

.category:hover, .category:active {
  transition: 1s all ease;
  opacity: 1;


  .label {
    &::before {
      border-top-color: $accent;
      border-right-color: $accent;
      transition: 
        width .25s ease-out,
        height .25s ease-out .25s;
    }
  
    &::after {
      border-bottom-color: $accent;
      border-left-color: $accent;
      transition:
        border-color 0s ease-out .5s,
        width .25s ease-out .5s,
        height .25s ease-out .75s;
    }

    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }
  }
}