.float-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#float-button-main {
  position: relative;
  z-index: 2;
}

.menu-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 
      .4s transform ease,
      .6s opacity ease;
  transform: translateY(0);
  opacity: 1;

  &.-hidden {
    opacity: 0;
    transition: 
      .4s transform ease,
      .2s opacity ease;
    transform: translateY(100%);
  }
}

.-normal {
  transition: all .4s ease;
}

.-reverse {
  transition: all .4s ease;
  transform: rotate(180deg);
}