@import "../../styles/base.scss";

.sidebar {
  bottom: auto !important;
  right: auto !important;
  overflow: auto !important;
  display: contents;

  .content {
    overflow-y: auto !important;
    bottom: auto !important;
    right: auto !important;
    margin-top: 3px;
  }
  
  .menu {
    background-image: linear-gradient(120deg, $primary, $primary-light);
    width: 40%;

    @include media-breakpoint-up(sm) {
      width: 30%;
    }
    @include media-breakpoint-up(md) {
      width: 25%;
    }
    @include media-breakpoint-up(lg) {
      width: 20%;
    }
    @include media-breakpoint-up(xl) {
      width: 15%;
    }

    .name {
      font-weight: 700;
      color: $accent;
    }

    li {
      &:hover {
        background-color: $accent;
      }
    }
  }
}

.profile-pic {
  border-radius: 50%;
  align-self: center;

  width: 80px;

  @include media-breakpoint-up(sm) {
    width: 100px;
  }
  @include media-breakpoint-up(md) {
    width: 100px;
  }
  @include media-breakpoint-up(lg) {
    width: 100px;
  }
  @include media-breakpoint-up(xl) {
    width: 100px;
  }
}

.menu-button {
  z-index: 1;

  .icon {
    color: $accent;
  }
}